*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


/* navbar */
#navbar{
    width: 100%;
    border: 0px solid red;
    padding: 10px 10px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-color: #b1ced78a;
    backdrop-filter: blur(3px);
    
}
.logo img{
width: 50%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .sticky + .container {
    padding-top: 100px;
  }
.menu{
    display: flex;
    width: 50%;
   justify-content: right;
}
.menu li{
    list-style: none;
    border: 0px solid red
}
.menu li a:hover{
    cursor: pointer;
    background-color: #1a73e8;
    color: white;
}

#navbar .menu li a{
    display: block;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 25px;
    transition: color 0.3s ease;
    border: 2px solid transparent;
}

#navbar.sticky .menu li a:hover{
    color: #fff;
}

.menu-btn{
    background-color: #b1ced7;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    
}

/* content */


#first{
    display: flex;
    color: #fff;
    background-size: cover;
    font-family: 'Ubuntu', sans-serif;
    border: 0px solid green;
    padding: 6px;
    width: 60%;
    border-radius: 40px;
    background-color: #1a73e8;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 150px;
    font-weight: bold;
    font-size: 20px;   
}


#second  p{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-weight: 400;
    
}

#third{
    width: 100%;
    border: 0px solid red;
  margin-top: 20px;
}

#third img{
    width: 100%;
}



#fourth{
    margin-top: 80px;
    width: 60%;
    margin: auto;
    text-align: center;
}
#fourth h1{
    font-size: 50px;
    margin-top: 100px;
}

#fourth p{
    font-size: 20px;
    margin-top: 20px;
}

#seven{
    display: flex;
    justify-content:space-around;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
#seven-left video{
    width: 60%;
    padding: 10px;
    border: 0px solid red;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#seven-right{
    width: 50%;
    margin-right: 30px;
    padding: 10px;
    border: 0px solid red;
}
hr{
    background-color: rgb(205, 200, 200);
    margin-top: 5px;
}
.seven-c{
    padding: 20px;
}

.seven-c h3{
    font-size: 30px;
    font-weight: solid;

}

.seven-c p {
    padding: 20px;
    font-size: 20px;
}
.seven-c h3 span{
    margin-right: 20px;
    color: #1a73e8;
    font-size: 40px;
}

@media screen and (max-width: 1024px){
    #navbar{
        width: 100%;
    }
    #first{
        width: 60%;
        padding: 5px;
    }

}
@media screen and (max-width: 769px){
    #navbar{
        width: 100%;
    }
    #first{
        width: 60%;
        padding: 5px;
        font-size: 15px;
    }
    .menu{
        width: 50%;
    }   
}

@media screen and (max-width: 426px){
    #navbar{
        width: 100%;
    }
    #first{
        width: 90%;
        padding: 5px;
        font-size: 15px;
    }
    .menu{
        width: 50%;
        border: 0px solid red;
        display: flex;
    }
    .menu li{
        list-style: none;
        border: 0px solid red
    }
    .menu-btn{
        padding: 5px;
        border-radius: 25px;
        font-weight: bold;
        
    }

}