*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

#signup{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#signup-left{
    width: 30%;
    background-color: #b1ced7cb;
    padding:  250px 30px;
    color: white;
    
}

.logo{
    width: 100%;
    margin: auto;
    display: block;
    justify-items: center;

}


#signup-right{
    width: 70%;
    border: 0px solid blue;
    width: 50%;
    display: block;
    justify-items: center;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    text-align: center;
}





#name h1{
    margin-top: 20px;
}

#name p{
    margin-top: 20px;
}
#btn-2{
    width: 100%;
    margin-top: 20px;
    background-color: white;
    border: 0;
    padding: 5px ;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    align-items: center;
    font-size: 20px;
    gap: 10px;

}
 #btn-2 img{
    width: 5%;
    
}

#info{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: auto;
    padding: 20px;
    margin: auto;
    margin-top: 30px;
}

#info input{
    padding: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    outline: none;
}
#name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 15px;
    width: 100%;
}

.email,.pass{
    width: 100%;
    border: 0;
    margin-top: 40px;
    border-style: none;
    outline: 0;
}

#btn{
    background-color: #b1ced7;
    border: 0;
    width: 100%;
    padding: 15px 20px;
    margin-top: 40px;
    border-radius: 2%;
    color: white;
}

#btn:hover{
    background-color: black;
    cursor: pointer;
}

.term{
    margin-top: 20px;
    text-align: center;
}

#signupPop{
    background-color: #b1ced790;
    backdrop-filter: blur(5px);
    width: 50%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    text-align: center;

}
#signupPop >h3{
    font-size: 30px;
}
#logoimg{
    width: 100%;
}

#okbtn{
    width: 100%;
    color: #2077e8;
    padding: 20px;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    font-weight: bold;
}
#okbtn:hover{
    cursor: pointer;
}

@media screen and (max-width: 769px){
    #singup{
       width: 100%; 
       border: 0px solid red;
    }
    #signup-left{
        border: 0px solid green;
        width: 30%;
    }
    .logo{
        width: 100%;
    }
    #signup-right{
        width: 70%;
    }
    #info{
        width: 100%;
        border: 0px solid red;
    }
}
@media screen and (max-width: 627px){
    #signup{
       width: 100%; 
       flex-direction: column;
       border: 0px solid red;
    }
    #signup-left{
        border: 0px solid green;
        width: 100%;
        padding: 10px;
    }
    .logo{
        width: 50%;
    }
    #signup-right{
        width: 100%;
    }
    #info{
        width: 100%;
        border: 0px solid red;
    }
    #name{
        flex-direction: column;
    }
}
@media screen and (max-width: 426px){
    #signup{
       width: 100%; 
       flex-direction: column;
       border: 0px solid red;
    }
    #signup-left{
        border: 0px solid green;
        width: 100%;
        padding: 10px;
    }
    .logo{
        width: 50%;
    }
    #signup-right{
        width: 100%;
    }
    #info{
        width: 100%;
        border: 0px solid red;
    }
    #name{
        flex-direction: column;
    }
}
@media screen and (max-width: 376px){
    #signup{
       width: 100%; 
       flex-direction: column;
    }
    #signup-left{
        border: 0px solid green;
        width: 100%;
        padding: 10px;
    }
    .logo{
        width: 50%;
    }
    #signup-right{
        width: 100%;
    }
    #info{
        width: 100%;
        border: 0px solid red;
    }
    #name{
        flex-direction: column;
    }
}